<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white text-uppercase">
  <!-- <h5 class="my-0 mr-md-auto font-weight-normal">SilleUploadMod</h5> -->
  <a class="my-0 mr-md-auto" rel="home" href="#">
    <img style="max-width:150px; margin-top: -7px;" src="http://pskpartha.net/logo/nnlogo.png">
  </a>
  <nav class="my-2 my-md-0 mr-md-3">
    <a id="homeLinkId" class="p-2 text-dark" routerLink="/">Home</a>
    <a id="createobjectLinkId" class="p-2 text-dark" routerLink="/newobject">Create Object</a>
    <a id="objectlistLinkId" class="p-2 text-dark" routerLink="/objectlist">Object List</a>
    <!-- <a  class="p-2 text-dark" routerLink="">Sample Data</a> -->

    <a class="p-2 text-dark dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">Sample Data</a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
      <a class="dropdown-item" href="https://spatialdata.io/files/stations.geojson" target="_blank" download>Stations (Points)</a>
      <a class="dropdown-item" href="https://spatialdata.io/files/raudtee_1.geojson" target="_blank" download>Raudtee (Lines)</a>
      <a class="dropdown-item" href="https://spatialdata.io/files/ristmik_1.geojson" target="_blank" download>Ristmik (Lines)</a>
      <a class="dropdown-item" href="https://spatialdata.io/files/hooned_2.geojson" target="_blank" download>Hooned (Polygons)</a>
    </div>
    

    <a class="p-2 text-dark" href="https://docs.google.com/document/d/1fHEH4Ayfa2enP4UiMheOKClkNwlHZucUcDItCo7Hn5A/edit?usp=sharing" target="_blank">How To USE</a>
  </nav>


</div>